{{define "page"}}
    {{- /*gotype: PoliSim/handler.NotFoundPage */ -}}
    {{template "header" .NavInfo}}
    <body id="page-body">
    {{/*_notFound-1*/}}Die Seite, die Sie suchen, existiert nicht
    </body>
{{end}}
