{{define "pageScript"}}
    <script>
        function copy() {
            let copy = document.querySelector("#input-for-member").cloneNode(true)
            copy.setAttribute("class", "name-list")
            copy.removeAttribute("id")
            document.querySelector("#member-names").insertAdjacentElement("beforebegin", copy)
        }

        function destroyParent(self) {
            self.parentElement.remove()
        }
    </script>
{{end}}
{{define "page"}}
    {{- /*gotype: PoliSim/handler.ChatOverviewPage*/ -}}
    <body id="page-body">
    {{template "header" .NavInfo}}
    <form id="search-form" hx-put="/chat/overview" hx-target="#page-body">
        <label for="viewer">{{/*chatOverview-7*/}}Account</label>
        <select id="viewer" name="viewer">
            <option value="">{{/*chatOverview-6*/}}-- Alle Accounts --</option>
            {{$account := .Query.Viewer}}
            {{range .PossibleViewers}}
                <option value="{{.}}" {{if eq . $account}}selected{{end}}>{{.}}</option>
            {{end}}
        </select>
        <label for="only-new">{{/*chatOverview-16*/}}Zeige nur Chaträume mit neuen Nachrichten</label>
        <input type="checkbox" id="only-new" name="only-new" value="true" {{if .Query.ShowOnlyUnreadChats}}checked{{end}}>
        <label for="chat-name">{{/*chatOverview-18*/}}Chatraum-Name</label>
        <input id="chat-name" name="chat-name" type="text" value="{{.Query.Name}}">
        <label for="amount">{{/*chatOverview-17*/}}Anzahl der Ergebnisse</label>
        <input id="amount" name="amount" type="number" value="{{.Amount}}" min="10" max="50">
        <button>{{/*chatOverview-5*/}}Suchen</button>
    </form>
    <details id="chat-room-details">
        <summary>{{/*chatOverview-8*/}}Chatraum erstellen</summary>
        <form id="create-chatroom-form" hx-post="/create/chat" hx-target="#page-body" hx-include="#search-form">
            <label for="chatroom-name">{{/*chatOverview-13*/}}Raumname</label>
            <input id="chatroom-name" name="chatroom-name" type="text">
            <label for="base-account">{{/*chatOverview-10*/}}Basis-Account</label>
            <select id="base-account" name="base-account">
                {{range .PossibleViewers}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
            <button type="button" onclick="copy()">{{/*chatOverview-11*/}}Mitglied hinzufügen</button>
            <label for="member">{{/*chatOverview-12*/}}Mitglieder</label>
            <div id="input-for-member" class="name-list hide">
                <input id="member" name="[]member" type="text" list="member-names">
                <button type="button" onclick="destroyParent(this)"><i class="bi bi-x-lg"></i></button>
            </div>
            <div id="input-for-member" class="name-list">
                <input id="member" name="[]member" type="text" list="member-names">
                <button type="button" onclick="destroyParent(this)"><i class="bi bi-x-lg"></i></button>
            </div>
            <datalist id="member-names">
                {{range .AccountNames}}
                    <option>{{.}}</option>
                {{end}}
            </datalist>
            <button>{{/*chatOverview-9*/}}Chatraum erstellen</button>
        </form>
    </details>
    {{template "message" .}}
    {{template "chatPaging" .}}
    </body>
{{end}}

{{define "chatPaging"}}
    {{- /*gotype: PoliSim/handler.ChatOverviewPage*/ -}}
    <div id="chat-rooms" class="wrapper note">
        {{if eq (len .Chats) 0}}
            <p>{{/*chatOverview-1*/}}Es konnten keine Chaträume gefunden werden</p>
        {{else}}
            {{range .Chats}}
                {{- /*gotype: PoliSim/database.ChatRoom*/ -}}
                <a href="{{.GetLink}}">
                    {{if .NewMessage}} <strong style="color: rgb(244 63 94);">&#x25CF;</strong> {{end -}}
                    {{/*chatOverview-2*/}}Raum: <strong>{{.Name}}</strong>
                    <br>
                    {{/*chatOverview-3*/}}Mitglieder: {{.GetMemberList}}<br>
                    {{/*chatOverview-4*/}}Nutzer: {{.User}}
                </a>
            {{end}}
        {{end}}
        {{if or .HasNext .HasPrevious}}
            <hr style="width: var(--standard-width); margin: 0.3rem 0;">
            <div class="wrapper note pager">
                {{if .HasPrevious}}
                    <a hx-put="/chat/overview" hx-include="#search-form"
                       hx-vals='{"backward": "{{.PreviousPage}}", "rec-name": "{{.PreviousPageRec}}"}' hx-target="#message-box">
                        {{/*chatOverview-14*/}}&laquo; Vorherige Seite
                    </a>
                {{end}}
                {{if .HasNext}}
                    <a hx-put="/chat/overview" hx-include="#search-form"
                       hx-vals='{"forward": "{{.NextPage}}", "rec-name": "{{.NextPageRec}}"}' hx-target="#message-box">
                        {{/*chatOverview-15*/}}Nächste Seite &raquo;
                    </a>
                {{end}}
            </div>
        {{end}}
    </div>
{{end}}