{{define "page"}}
    {{- /*gotype: PoliSim/handler.NotFoundPage */ -}}
    {{template "header" .NavInfo}}
    <body id="page-body">
        Die Seite, die du suchst, existiert nicht
    </body>
{{end}}
