<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Abstimmungsdokument erstellen</title>
  <link rel="shortcut icon" type="image/png" href="../public/fallback_icon.png">
  <link rel="stylesheet" href="../public/style.css">
  <script src="../public/htmx.js"></script>
  <script src="../public/hyperscript.js"></script>
  <script>
    htmx.config.defaultSwapStyle = "outerHTML"
  </script>

  <script>
    function copy(idFrom, idTo) {
      let copy = document.querySelector("#"+idFrom).cloneNode(true)
      copy.setAttribute("class", "name-list")
      copy.removeAttribute("id")
      document.querySelector("#"+idTo).insertAdjacentElement("beforebegin", copy)
    }

    function destroyParent(self) {
      self.parentElement.remove()
    }

    function copyElementValueAndAppendIt(idFrom, idTo) {
      let value = document.querySelector("#"+idTo).value
      if (value === "") {
        document.querySelector("#"+idTo).value = document.querySelector("#"+idFrom).value
      } else {
        document.querySelector("#"+idTo).value += "," + document.querySelector("#"+idFrom).value
      }
    }
  </script>

</head>

<body id="page-body">

<style>html {font-size: 130%;}</style>

<header>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/search/notes">Notizen</a>

      <ul>
        <li><a href="/create/note">Notiz erstellen</a></li>
      </ul>

    </li>
    <li>
      <a href="/search/publications">Zeitungen</a>

      <ul>
        <li><a href="/create/article">Zeitungsartikel erstellen</a></li>
      </ul>

    </li>
    <li>
      <a>Übersichten</a>
      <ul>
        <li><a href="/view/titles">Titelübersicht</a></li>
        <li><a href="/view/organisations">Organisationsübersicht</a></li>
      </ul>
    </li>
    <li>
      <a href="/search/documents">Dokumente</a>

      <ul>
        <li><a href="/create/document">Dokument erstellen</a></li>
        <li><a href="/create/discussion">Diskussion erstellen</a></li>
        <li><a href="/create/vote">Abstimmung erstellen</a></li>
        <li><a href="/create/vote/element">Abstimmungen verwalten</a></li>
        <li><a href="/manage/tag-colors">Tag-Farben verwalten</a></li>
      </ul>

    </li>

    <li>
      <a href="/my/profile">Profil</a>
      <ul>
        <li><a href="/my/letter">Meine Briefe</a></li>
        <li><a href="/create/letter">Brief schreiben</a></li>
        <li><a href="/my/documents">Meine Dokumente</a></li>
      </ul>
    </li>


    <li>
      <a>Administration</a>
      <ul>
        <li><a href="/check/newspapers">Zeitung verwalten</a></li>

        <li><a href="/admin/letter/search">Brief untersuchen</a></li>
        <li><a href="/edit/account">Nutzer verwalten</a></li>
        <li><a href="/edit/organisation">Organisation verwalten</a></li>
        <li><a href="/edit/title">Titel verwalten</a></li>

        <li><a href="/create/account">Nutzer erstellen</a></li>
        <li><a href="/create/organisation">Organisation erstellen</a></li>
        <li><a href="/create/title">Titel erstellen</a></li>


      </ul>
    </li>

  </ul>
</header>
<hr style="width: 100%; margin: 0.3rem 0;">

<form hx-post="/create/vote" hx-target="#page-body">
  <label for="title">Titel</label>
  <input id="title" name="title" type="text" value="">
  <label for="author">Autor</label>
  <select id="author" name="author" hx-get="/organisations/for/account" hx-trigger="change" hx-target="#organisation">


    <option value="Markus Fyber" selected>Markus Fyber</option>

  </select>
  <label for="organisation">Organisation</label>
  <select id="organisation" name="organisation">
    <option value="" selected>-- Organisation auswählen --</option>

    <option value="Bundestag">LMAO</option>

  </select>

  <label for="end-time">Ende der Abstimmung (Endet immer um 23:50 UTC des ausgewählten Tages)</label>
  <input  type="date"
          id="end-time"
          name="end-time"
          value="2025-02-11"
          min="2025-02-10"
          max="2025-02-23" />
  <label for="public">Abstimmung ist öffentlich (Pflicht in öffentlichen Organisationen)</label>
  <input type="checkbox" id="public" name="public" value="true" >
  <label for="member">Alle Organisationsmitglieder dürfen teilnehmen</label>
  <input type="checkbox" id="member" name="member" value="true" >
  <label for="admin">Alle Organisationsadministratoren dürfen teilnehmen</label>
  <input type="checkbox" id="admin" name="admin" value="true" >

  <div id="reader-and-participants" class="wrapper">
    <button type="button" onclick="copy('input-for-reader', 'participants-adder')">
      Leser hinzufügen
    </button>
    <label for="reader">Leser</label>
    <div id="input-for-reader" class="name-list hide">
      <input id="reader" name="[]reader" type="text" list="account-names">
      <button type="button" onclick="destroyParent(this)"><i class="bi bi-x-lg"></i></button>
    </div>

    <div class="name-list">
      <input id="reader" name="[]reader" type="text" value="" list="account-names">
      <button type="button" onclick="destroyParent(this)"><i class="bi bi-x-lg"></i></button>
    </div>

    <button id="participants-adder" type="button" onclick="copy('input-for-participants', 'block-end-div')">
      Teilnehmer hinzufügen
    </button>
    <label for="participants">Teilnehmer</label>
    <div id="input-for-participants" class="name-list hide">
      <input id="participants" name="[]participants" type="text" list="account-names">
      <button type="button" onclick="destroyParent(this)"><i class="bi bi-x-lg"></i></button>
    </div>

    <div class="name-list">
      <input id="participants" name="[]participants" type="text" value="" list="account-names">
      <button type="button" onclick="destroyParent(this)"><i class="bi bi-x-lg"></i></button>
    </div>

    <div id="block-end-div" class="hide"></div>
  </div>

  <datalist id="account-names">

    <option>Test</option>

    <option>ABC</option>

  </datalist>
  <label for="vote-choice" class="hover-container">Abstimmungslis<span class="hover-target">te &#x1F6C8;</span>
    <aside class="hover-popup">
      <p>Um Abstimmungen vorzubereiten, öffne die Seite unter <strong>Dokumente</strong> &#8594; <strong>Abstimmungen verwalten</strong>.</p>
    </aside>
  </label>
  <select id="vote-choice" name="vote-choice">

  </select>
  <button type="button" onclick="copyElementValueAndAppendIt('vote-choice', 'votes')">
    ID der ausgewählten Abstimmung übertragen
  </button>
  <label for="votes">Angehängte Abstimmungen</label>
  <input id="votes" name="votes" type="text" value="">
  <label for="markdown">Inhalt</label>
  <textarea id="markdown" name="markdown" rows="10"
            hx-trigger="keyup changed delay:1s" hx-put="/markdown"
            hx-target="#markdown-box"></textarea>
  <button hx-patch="/check/reader/and/participants" hx-target="#reader-and-participants">
    Leser und Teilnehmer überprüfen
  </button>
  <button type="submit">Abstimmungsdokument erstellen</button>
</form>
<div id="message-div" class="error-div"
     hidden></div>

<h1>Vorschau</h1>
<div id="markdown-box" class="markdown">

</div>

</body>

</html>