:root {
    --standard-width: 50rem;
    --standard-small-width: 20rem;
}


body {
    background-color: rgb(30 41 59);
    color: rgb(226 232 240);
    flex-direction: column;
    align-items: center;
    display: flex;
}

div.block-view {
    background-color: inherit;
    color: inherit;
    flex-direction: inherit;
    align-items: start;
    display: inherit;
    width: var(--standard-width);
}

div.wrapper {
    background-color: inherit;
    color: inherit;
    flex-direction: inherit;
    align-items: inherit;
    display: inherit;
    width: inherit;
}

.section-headline {
    font-size: 1.7rem;
    line-height: 2rem;
    width: fit-content;
}

form {
    flex-direction: column;
    align-items: start;
    display: flex;
    width: var(--standard-width);
}

.error-div {
    background-color: rgb(127 29 29);
}

.success-div {
    background-color: rgb(20 83 45);
}

.success-div, .error-div {
    color: rgb(226 232 240);
    padding: 0.2rem;
    margin: 1rem;
    font-size: 1.1rem;
    width: fit-content;
    height: fit-content;
    max-width: var(--standard-width);
    white-space: pre-wrap;
}

header {
    width: 100%;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li:hover ul {
            display: block;
        }
        li {
            display: inline-block;
            background-color: rgb(29 78 216);
            position: relative;
            min-width: 10rem;
            margin: 0.1rem 0;
            a {
                text-decoration: none;
                padding: 6px 10px;
                color: white;
                display: block;
                min-width: inherit;
                text-align: center;
                user-select: none;
            }
            ul {
                z-index: 99;
                list-style-type: none;
                padding: 0;
                margin: 0;
                display: none;
                position: absolute;
                background-color: rgb(51 65 85);
                min-width: inherit;
                box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
                li {
                    background-color: rgb(30 41 59);
                    min-width: inherit;
                    margin: 0 0;
                    a {
                        color: white;
                    }
                }
                li:hover {
                    background-color: rgb(51 65 85);
                }
            }
        }
    }
}

button {
    background-color: rgb(51 65 85);
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    font-family: inherit;
    font-size: inherit;
}

input {
    background-color: rgb(51 65 85);
    color: white;
    padding: 0.5rem;
    user-select: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: inherit;
    border: none;
    font-family: inherit;
    font-size: inherit;
}

textarea {
    resize: vertical;
    width: inherit;
    background-color: rgb(51 65 85);
    color: white;
    padding: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
}

select {
    background-color: rgb(51 65 85);
    color: white;
    padding: 0.5rem;
    user-select: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: fit-content;
    border: none;
    font-family: inherit;
    font-size: inherit;
}

a.button-link {
    background-color: rgb(51 65 85);
    color: white;
    padding: 0.5rem;
    text-decoration: none;
}

div.note {
    a {
        background-color: rgb(51 65 85);
        color: rgb(34 211 238);
        padding: 0.3rem;
        margin: 0.2rem 0;
        text-underline: rgb(34 211 238);
        text-decoration: none;
        cursor: pointer;
    }
    h1 {
        font-size: 2rem;
        line-height: 2.2rem;
        color: white;
    }
    h2 {
        font-size: 1.5rem;
        line-height: 1.7rem;
    }
}

div.name-list {
    flex-direction: row;
    align-items: start;
    display: flex;
    width: inherit;
    input {
        width: 95%;
    }
    button {
        width: 5%;
        margin: 0.5rem 0.2rem;
        background-color: rgb(127 29 29);
    }
}

.hide {
    display: none !important;
}

/* Markdown stuff */

div.markdown {
    width: var(--standard-width);
    background-color: rgb(15 23 42);
    filter: drop-shadow(0.3rem 0.3rem 0.125rem rgb(2 6 23));
    padding: 1rem;
    margin: 0.6rem;
}

div.markdown dl {
    padding-top: 0.2rem;
}

div.markdown dt {
    font-weight: bold;
}

div.markdown dd {
    padding-bottom: 0.2rem;
}

div.markdown table {
    border-collapse: collapse;
    padding: 0.2rem;
    th {
        background-color: rgb(30 41 59);
        border: 1px solid;
        border-bottom: 2px solid;
        padding: 0.2rem 0.2rem 0.4rem;
    }
    td {
        border: 1px solid;
        padding: 0.2rem;
    }
    tfoot {
        font-style: italic;
        td {
            border-top: 2px solid;
            padding: 0.4rem 0.2rem 0.2rem;
        }
    }
}

div.markdown h1 {
    font-size: 2.075rem;
    line-height: 2.25rem;
}

div.markdown h2 {
    font-size: 1.7rem;
    line-height: 2rem;
}

div.markdown h3 {
    font-size: 1.45rem;
    line-height: 1.75rem;
}

div.markdown h4 {
    font-size: 1.325rem;
    line-height: 1rem;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

div.markdown h5 {
    font-size: 1.325rem;
    line-height: 0.75rem;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-underline-offset: 2px;
}

div.markdown h6 {
    font-size: 1.325rem;
    line-height: 0;
}

div.markdown pre {
    background-color: rgb(30 41 59);
    overflow: scroll;
    padding: 0.5rem;
}

div.markdown code {
    display: inline-block;
    overflow-wrap: break-word;
}

div.markdown :not(pre) > code {
    background-color: rgb(30 41 59);
    padding: 0.1rem 0.5rem;
}

div.markdown hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

div.markdown ul {
    list-style-type: disc;
    list-style-position: inside;
}

div.markdown ol {
    list-style-type: upper-roman;
    list-style-position: inside;
}

div.markdown p {
    text-align: start;
    overflow-wrap: break-word;
}

div.markdown a {
    color: rgb(34 211 238);
}

div.markdown div.footnotes ol {
    list-style-type: decimal;
}

/*
div.markdown strong {

}

div.markdown em {

}

div.markdown del {

}
*/