{{- /*gotype: PoliSim/handler.HomePage */ -}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Base.Title}}</title>
</head>
<body>
    This is the homepage
</body>
</html>