{{define "notFoundFull"}}
    {{- /*gotype: PoliSim/handler.FullPage*/ -}}
    {{template "pageHeader" .Base}}
    {{template "notFound" .Content}}
    </html>
{{end}}

{{define "notFound"}}
    {{- /*gotype: PoliSim/handler.NotFoundPage */ -}}
    {{template "header" .NavInfo}}
    <body id="page-body">
        Die Seite, die du suchst, existiert nicht
    </body>
{{end}}
