{{define "notFoundFull"}}
    {{- /*gotype: PoliSim/handler.FullPage*/ -}}
    {{template "pageHeader" .Base}}
    {{template "notFound" .Content}}
    </html>
{{end}}

{{define "notFound"}}
    {{- /*gotype: PoliSim/handler.NotFoundPage */ -}}
    <body id="page-body">
        This is the error page
    </body>
{{end}}
