{{- /*gotype: PoliSim/handler.NotFoundPage */ -}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Base.Title}}</title>
    <link rel="icon" href="/public/icon.ico">
    <link rel="shortcut icon" type="image/png" href="/public/fallback_icon.png">
    <link rel="stylesheet" href="/public/style.css">
    <script src="/public/htmx.js"></script>
</head>
<body>
    This is the error page
</body>
</html>