{{define "pageHeader"}}
{{- /*gotype: PoliSim/handler.BaseInfo */ -}}
<!DOCTYPE html>
<html lang="{{.Language}}">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="shortcut icon" type="image/png" href="/public/{{.Icon}}">
    <link rel="stylesheet" href="/public/style.css">
    <script src="/public/htmx.js"></script>
</head>
{{end}}
